body{margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color:rgb(165,115,170);
    color: black;
    transition: background-color cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  body.dark-mode {
    background-color: #121212;
    color:white}   
img{width:600px;
height:600px;
border-radius:50px ;
}
h3{background-color: rgb(165, 115, 170);
font-size:medium;
word-spacing:6px ;}
h4{background-color: rgb(165, 115, 170);
font-size: medium;
word-spacing:6px;}
.switch-container{text-align:left;
}
.switch{position: relative;
display: inline-block;
width:60px ;
height: 34px;}
.switch input{opacity: 0;
width:0 ;
height: 0;}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0; left: 0;
    right: 0; bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;}
    .slider::before {
        position: absolute;
        content: "";
        height: 26px; width: 26px;
        left: 4px; bottom: 4px;
        background-color: white;
        transition: 0.4s;
        border-radius: 50%;}
        input:checked + .slider {
            background-color: #e008d5;
          }       
          input:checked + .slider::before {
            transform: translateX(26px);
          }
          .mode-label {
            margin-left: 10px;
            font-size: 1.2em;
            vertical-align: middle;
          }
nav{text-indent:1000px ;
word-spacing:50px ;
border: #b413ee;}   
.homepage{text-indent:10px
   ;text-align:center;
   display: flex;
   
}  
     
          